body {
  color: #000;
  font-family: "General Sans Medium";
  font-size: 16px;
  line-height: 1.375;
}

$blue: #007cf5;
a {
  text-decoration: none;
  transition: all 0.5s;

  &:focus-visible {
    outline: 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;

  &-track {
    background: #edf1ed;
  }

  &-thumb {
    background: $blue;

    &:hover {
      background: $blue;
    }
  }
}
