.chatBot{
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      
    }
    
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      background-color: #e3e3e3;
      border-radius: 30px;
    }
    
    ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: none;
      background-color: color(500);
      border-radius: 30px;
    }
  
      &_link {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background-color: color(500);
          border: 0;
          position: fixed;
          bottom: 20px;
          right: 20px;
          cursor: pointer;
          transition: all 0.5s;
          &:hover{background-color: #2b91f7;}
      }
      &_box {
          position: fixed;
          background-color: color(50);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
          bottom: 20px;
          right: 20px;
          width:430px;
          height: 400px;
          border-radius: 5px;
          overflow: hidden;
          transform: scale(0);
          transform-origin: right bottom;
          transition: transform 0.3s;
          &.open{transform: scale(1);}
       }
       
      &_header{
          padding:15px;display: flex;align-items: center;justify-content: space-between;
          background-color: color(500);color:color(50);
          h3{font-weight: 600;font-size: 26px; margin-bottom: 0;}
          .closeIcon {
              width: 14px;
              height: 14px;
              position: relative;
              cursor: pointer;
            }
            
            .closeIcon::before,
            .closeIcon::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: color(50);
              transform: translateY(-50%) rotate(45deg);
            }
            
            .closeIcon::after {
              transform: translateY(-50%) rotate(-45deg);
            }
            
      }
      &_body{
          padding:15px; background-color: color(50);height:calc(100% - 121px);
          overflow: auto;
          &_send, &_receive{
              display: flex; margin-bottom: 20px;
          }
          &_send{
              
              img{margin-right: 8px; }
              .chatBot_body_msg span{border-radius:0px 10px 10px 10px;background-color: rgba(color(900), 0.1);}
          }
          &_receive{
              flex-direction: row-reverse; text-align: right;
              img{margin-left: 8px;}
              .chatBot_body_msg span{border-radius: 10px 0px 10px 10px; background-color: rgba(color(500), 0.1); color:color(900);}
          }
          img{
              width: 40px;height: 40px;border-radius: 50%;object-fit: cover;
              flex-shrink: 0;
          }
          &_msg{
              color:color(900);font-size: 14px;max-width: 330px;width: 100%;
              .markdown-content{
                p{
                    margin-bottom: 0;
                }
              }
              span{
                  background-color: color(50); padding:15px; display: inline-block;
              }
          }
      }
      &_footer{
          padding:10px 15px; padding-right: 60px; border-top: 1px solid #E1E1E1; position: relative;
          height: 60px;
          input{
              border: 0;
              width: 100%;
              font-size: 16px;
              color:color(900);
              height: 40px;
              &:focus{outline: none; }
          }
          &_sendBtn{
              width: 40px;height: 40px;background-color: color(500); color:color(50);border-radius: 5px;
              display: flex;align-items: center;justify-content: center;border:0;box-shadow: 0;cursor: pointer;
              position: absolute; right: 10px; top:50%;transform: translateY(-50%);transition:all 0.5s;
              &:hover{background-color: #2b91f7;}
          }
          
      }

   @include media-breakpoint-down(md) {
        &_link{
            width: 50px;height: 50px;
            svg{width: 18px;}
        }
        &_header{
            padding:10px 15px;
            h3{font-size: 20px;}
        }
        &_box{
            width: 320px;height: 290px;
        }
        &_body{
            height: calc(100% - 92px);
            img{width: 30px;height: 30px;}
            &_send, &_receive{
                margin-bottom: 10px;
            }
            &_msg span{
                padding:10px;
            }
        }
        &_footer{
            height: 50px;padding:5px 15px;
            input{
                height: 40px;font-size: 14px;
            }
            &_sendBtn{
                width: 30px;height: 30px;
                svg{width: 13px;}
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &_header{
            h3{font-size: 18px;}
        }
    }
    
  }