/* html */
html {
  height: 100%;
}
body {
  font-family: font(rg);
  color: color(900);
  min-height: 100%;
  position: relative;
}

/* anchor tag */
a, .btn {
  text-decoration: none;  transition: all 0.5s;
  &:hover {
    text-decoration: none;
  }
}

/* common focus */
:focus {
  outline: 0 !important;
}

// common scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;

  &-track {
    background: #edf1ed;
  }

  &-thumb {
    background: color(500);

    &:hover {
      background: color(500);
    }
  }
}